tasks-banner {
    display: flex;
    align-items: center;
    width: calc(43vw - 15px);
    height: fit-content;
    padding: 0.5vh 0;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    filter: drop-shadow(5px 5px #505050);
    border: 5px solid white;
    margin-bottom: 15px;
}

tasks-banner #banner-title {
    font-family: Marker;
    font-size: 5vw;
    color: white;
    width: calc(43vw - 15px);
    height: fit-content;
    text-align: center;
}