well-list-banner {
    display: flex;
    align-items: center;
    position: fixed;
    right: 35px;
    top: 30px;
    width: calc(55vw - 80px);
    height: fit-content;
    padding: 2.5vh 0;
    background: linear-gradient(120deg, #0c9ace 0%, #00c36b 100%);
    filter: drop-shadow(5px 5px #505050);
    border: 5px solid white;
}

well-list-banner #banner-title {
    font-family: pixel;
    font-size: 6vw;
    color: white;
    width: calc(55vw - 90px);
    height: 6vw;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    well-list-banner {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 15px;
        width: calc(100vw - 65px);
        text-align: center;
    }

    well-list-banner #banner-title {
        width: 100%;
        font-size: 8vw;
    }
}