ul {
    margin: 0;
}

/* plant stickers */

plant-sticker {
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    object-fit: contain;
    position: relative;
    display: block;
    filter: drop-shadow(5px 5px #505050);
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

plant-stickers-container {
    display: flex;
    width: calc(31vw + 20px);
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#plant-sticker-1 {
    min-width: 110px;
    max-width: 110px;
    min-height: 280px;
    max-height: 280px;
}

#plant-sticker-1.default {
    background-image: url(../images/plant-sticker-1-default.png);
}

#plant-sticker-1.login {
    background-image: url(../images/plant-sticker-1-login.png);
}

#plant-sticker-2 {
    min-width: 175px;
    max-width: 175px;
    min-height: 240px;
    max-height: 240px;
}

#plant-sticker-2.default {
    background-image: url(../images/plant-sticker-2-default.png);
}

#plant-sticker-2.login {
    background-image: url(../images/plant-sticker-2-login.png);
}

#plant-sticker-3 {
    min-width: 150px;
    max-width: 150px;
    min-height: 320px;
    max-height: 320px;
}

#plant-sticker-3.default {
    background-image: url(../images/plant-sticker-3-default.png);
}

#plant-sticker-3.login {
    background-image: url(../images/plant-sticker-3-login.png);
}

/* sticky notes */

#sticky-notes-container {
    position: fixed;
    top: calc(65px + 5vh + 6vw);
    right: 20px;
    width: calc(55vw - 75px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(98vh - 6vw - 75px);
    padding-right: 15px;
    align-content: flex-start
}

/* Track */
#sticky-notes-container::-webkit-scrollbar-track {
    background: #ebba85; 
}

/* Handle */
#sticky-notes-container::-webkit-scrollbar-thumb {
    background: #9e6e3a; 
}

/* Handle on hover */
#sticky-notes-container::-webkit-scrollbar-thumb:hover {
    background: #926330; 
}

sticky-note {
    border-top: 2.8vw solid rgb(142, 142, 142);
    background-color: rgb(186, 186, 186);
    width: 14.5vw;
    min-height: 10vw;
    height: 10vw;
    filter: drop-shadow(5px 5px #505050);
    margin-bottom: 15px;
    text-align: center;
    font-family: Marker;
    font-size: 2.5vw;
    padding-top: 10px;
    color: #292929;
    cursor: pointer;
}

sticky-note:hover {
    border-color: rgb(129, 129, 129);
    background-color: rgb(172, 172, 172);
    filter: drop-shadow(5px 5px rgb(32, 32, 32));
}

sticky-note.login {
    border-color: rgb(97, 212, 166);
    background-color: rgb(197, 255, 221);
    color: rgb(20, 77, 17);
}

sticky-note.login:hover {
    border-color: rgb(74, 190, 144);
    background-color: rgb(165, 243, 198);
}

sticky-note.account-creation {
    border-color: rgb(105, 207, 240);
    background-color: rgb(175, 235, 255);
    color: rgb(24, 53, 98);
}

sticky-note.account-creation:hover {
    border-color: rgb(86, 187, 221);
    background-color: rgb(149, 229, 255);
}

sticky-note.credits {
    border-color: rgb(246, 148, 148);
    background-color: rgb(255, 202, 202);
    color: rgb(98, 24, 24);
}

sticky-note.credits:hover {
    border-color: rgb(254, 122, 122);
    background-color: rgb(255, 172, 172);
}

sticky-note.about {
    border-color: rgb(213, 228, 133);
    background-color: rgb(241, 252, 184);
    color: rgb(78, 75, 19);
}

sticky-note.about:hover {
    border-color: rgb(191, 205, 108);
    background-color: rgb(225, 238, 162);
}

/* well-list banner */

well-list-banner {
    display: flex;
    align-items: center;
    position: fixed;
    right: 35px;
    top: 30px;
    width: calc(55vw - 80px);
    height: fit-content;
    padding: 2.5vh 0;
    background: linear-gradient(120deg, #0c9ace 0%, #00c36b 100%);
    filter: drop-shadow(5px 5px #505050);
    border: 5px solid white;
}
well-list-banner #banner-title {
    font-family: pixel;
    font-size: 6vw;
    color: white;
    width: calc(55vw - 90px);
    height: 6vw;
    text-align: center;
}

/* menu-paper */

menu-paper #content-container {
    position: absolute;
    margin: 20px;
    margin-top: 35px;
    z-index: 2;
    font-family: YoungSerif;
    z-index: 2;
    width: calc(45vw - 40px);
    height: calc(98vh - 75px - 25px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Track */
menu-paper #content-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
menu-paper #content-container::-webkit-scrollbar-thumb {
    background: #b2b2b2; 
}

/* Handle on hover */
menu-paper #content-container::-webkit-scrollbar-thumb:hover {
    background: #808080; 
}

menu-paper #content-container #title {
    color: #292929;
    font-size: 3.5vw;
    text-align: center;
}

/* menu-paper content */

menu-paper #content-container #lined-area {
    display: flex;
    flex-flow: column;
    width: calc(45vw - 80px);
    margin-left: 20px;
    margin-right: 20px;
    height: calc(98vh - 120px - 6vw);
    background-image: linear-gradient(0, #dbdbdb 6%, transparent 1%, transparent 74%);
    background-size: calc(45vw - 40px) 3vw;
    font-size: 1.5vw;
    line-height: 3vw;
    padding-top: 0.5vw;
    margin-top: -0.5vw;
}

menu-paper #content-container #lined-area #subtitle {
    margin-top: -0.5vw;
    margin-bottom: 0.5vw;
    font-size: 2vw;
}

menu-paper #content-container #lined-area .username-password-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5vw;
}

menu-paper #content-container #lined-area .username-password-container #label {
    width: calc(11vw - 20px);
    margin: 0 0 -0.65vw 0;
}

menu-paper #content-container #lined-area .username-password-container input {
    height: 2.85vw;
    width: calc(100% - 1.5vw);
    outline: 0 none;
    box-shadow: none;
    border: 0.175vw solid #292929;
    font-family: YoungSerif;
    font-size: 1.5vw;
    padding: 0 0.6vw 0 0.6vw;
    margin: 0 0 0 0;
}

menu-paper #content-container #lined-area .username-password-container input:focus {
    border: 0.175vw solid #2e82ff;
}

menu-paper #content-container #lined-area .controls {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 0.5vw);
}

menu-paper #content-container #lined-area .controls #create-account-button {
    color: #327281;
}

menu-paper #content-container #lined-area .controls #create-account-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

menu-paper #content-container #lined-area .controls #login-button {
    color: #005d2a;
}

menu-paper #content-container #lined-area .controls #login-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

menu-paper #content-container #message-container {
    color: rgb(27, 73, 105);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

/* menu-paper background */

menu-paper {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(45vw + 20px);
    height: calc(98vh - 40px);
}

menu-paper #pin {
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    object-fit: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: calc(22.5vw - 15px);
    display: none;
}

menu-paper #pin.login {
    background-image: url(../images/login-pin.png);
}

menu-paper #pin.account-creation {
    background-image: url(../images/create-account-pin.png);
}

menu-paper #pin.credits {
    background-image: url(../images/credits-pin.png);
}

menu-paper #pin.about {
    background-image: url(../images/about-pin.png);
}


#paper-background {
    filter: drop-shadow(5px 5px #505050);
}

menu-paper #paper-background #paper-background-vertical {
    position: absolute;
    top: 10px;
    left: 15px;
    width: calc(45vw - 30px);
    height: calc(98vh - 75px);
    background-color: #fdfdfd;
    border-top: 5px solid #f1f1f1;
    border-bottom: 5px solid #e9e9e9;
    z-index: 0;
}

menu-paper #paper-background #paper-background-horizontal {
    position: absolute;
    top: 15px;
    left: 10px;
    width: calc(45vw - 30px);
    height: calc(98vh - 75px);
    background-color: #fdfdfd;
    border-left: 5px solid #f1f1f1;
    border-right: 5px solid #e9e9e9;
    z-index: 0;
}

@media only screen and (max-width: 1400px) {
    #sticky-notes-container {
        justify-content: space-evenly;
    }

    plant-stickers-container {
        width: calc(52vw - 90px);
    }

    sticky-note {
        border-top: 3.5vw solid rgb(142, 142, 142);
        font-size: 3.25vw;
        width: calc(26vw - 45px);
        height: 14vw;
        min-height: 14vw;
        margin-bottom: 35px;
        margin: 0;
    }

    sticky-note#sticky-1 {
        margin: 0 0 20px 0;
    }

    sticky-note#sticky-2 {
        margin: 0 0 20px 0;
    }

    sticky-note#sticky-3 {
        margin: 0 0 20px 0;
    }

    sticky-note#code-sticky {
        position: static;
        margin: 0 0 20px 0;
        top:  none;
        left: none;
    }
}

@media only screen and (max-width: 1050px) {
    #plant-sticker-1 {
        min-width: 88px;
        max-width: 88px;
        min-height: 224px;
        max-height: 224px;
        filter: drop-shadow(4px 4px #505050);
    }
    
    #plant-sticker-2 {
        min-width: 140px;
        max-width: 140px;
        min-height: 192px;
        max-height: 192px;
        filter: drop-shadow(4px 4px #505050);
    }
    
    #plant-sticker-3 {
        min-width: 120px;
        max-width: 120px;
        min-height: 256px;
        max-height: 256px;
        filter: drop-shadow(4px 4px #505050);
    }
}

@media only screen and (max-width: 865px) {
    #plant-sticker-1 {
        min-width: 66px;
        max-width: 66px;
        min-height: 168px;
        max-height: 168px;
        filter: drop-shadow(3px 3px #505050);
    }
    
    #plant-sticker-2 {
        min-width: 105px;
        max-width: 105px;
        min-height: 144px;
        max-height: 144px;
        filter: drop-shadow(3px 3px #505050);
    }
    
    #plant-sticker-3 {
        min-width: 90px;
        max-width: 90px;
        min-height: 192px;
        max-height: 192px;
        filter: drop-shadow(3px 3px #505050);
    }
}

@media only screen and (max-width: 700px) {
    login-section {
        display: flex;
        flex-direction: column;
    }

    #sticky-notes-container {
        width: calc(96vw - 55px);
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        justify-content: space-evenly;
        margin-left: 30px;
        height: fit-content;
    }

    sticky-note {
        border-top: 5vw solid rgb(142, 142, 142);
        font-size: 5vw;
        width: calc(35vw);
        height: 20vw;
        min-height: 14vw;
        margin-bottom: 35px;
        margin: 0;
    }
    
    well-list-banner {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 15px;
        width: calc(100vw - 65px);
        text-align: center;
    }

    well-list-banner #banner-title {
        width: 100%;
        font-size: 8vw;
    }

    menu-paper {
        position: relative;
        width: calc(96vw - 60px);
        height: calc(100vw - 30px);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-left: 2vw;
    }

    menu-paper #content-container {
        width: calc(96vw - 80px);
        height: calc(100vw - 90px - 6vw);
        overflow: hidden;
    }

    menu-paper #content-container #title {
        font-size: 5vw;
    }

    menu-paper #content-container::-webkit-scrollbar {
        width: 0px;
    }

    menu-paper #content-container #lined-area {
        width: calc(96vw - 100px);
        height: calc(100vw - 90px - 6vw);
        background-image: linear-gradient(0, #dbdbdb 5%, transparent 1%, transparent 74%);
        background-size: calc(45vw - 40px) 7vw;
        font-size: 3vw;
        line-height: 7vw;
        padding-top: 0.5vw;
        margin-top: -0.5vw;
    }

    menu-paper #content-container #lined-area .username-password-container #label {
        width: calc(11vw - 20px);
        margin: 0 0 -0.8vw 0;
    }
    
    menu-paper #content-container #lined-area .username-password-container input {
        height: 6.7vw;
        width: calc(100% - 1.8vw);
        outline: 0 none;
        box-shadow: none;
        border: 0.35vw solid #292929;
        font-family: YoungSerif;
        font-size: 1.5vw;
        padding: 0 0.6vw 0 0.6vw;
        margin: 0 0 0 0;
    }

    
    #paper-background {
        margin: 15px;
        filter: drop-shadow(5px 5px #505050);
    }
    
    menu-paper #paper-background #paper-background-vertical {
        position: absolute;
        width: calc(96vw - 60px);
        height: calc(100vw - 75px);
        top: 0;
        right: 0;
        left: 5px;
        bottom: 0;
    }
    
    menu-paper #paper-background #paper-background-horizontal {
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        bottom: 0;
        width: calc(96vw - 60px);
        height: calc(100vw - 75px);
    }

    menu-paper #pin {
        top: 5px;
        left: calc(47vw - 15px);
    }

    menu-paper #content-container #lined-area #subtitle {
        font-size: 3vw;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 0px;
    }
}