ul {
    margin: 0;
}

/* plant stickers */

plant-sticker {
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    object-fit: contain;
    position: fixed;
    filter: drop-shadow(5px 5px #505050);
}

#plant-sticker-1 {
    width: 110px;
    height: 280px;
    bottom: 25px;
    right: 360px;
}

#plant-sticker-1.default {
    background-image: url(../images/plant-sticker-1-default.png);
}

#plant-sticker-1.login {
    background-image: url(../images/plant-sticker-1-login.png);
}

#plant-sticker-2 {
    width: 175px;
    height: 240px;
    bottom: 20px;
    right: 180px;
}

#plant-sticker-2.default {
    background-image: url(../images/plant-sticker-2-default.png);
}

#plant-sticker-2.login {
    background-image: url(../images/plant-sticker-2-login.png);
}

#plant-sticker-3 {
    width: 150px;
    height: 320px;
    bottom: 20px;
    right: 20px;
}

#plant-sticker-3.default {
    background-image: url(../images/plant-sticker-3-default.png);
}

#plant-sticker-3.login {
    background-image: url(../images/plant-sticker-3-login.png);
}

/* sticky notes */

#sticky-notes-container {
    position: fixed;
    top: calc(65px + 5vh + 6vw);
    right: 35px;
    width: calc(55vw - 70px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

sticky-note {
    border-top: 35px solid rgb(142, 142, 142);
    background-color: rgb(186, 186, 186);
    width: 15.5vw;
    min-height: 140px;
    height: 22vh;
    filter: drop-shadow(5px 5px #505050);
    margin-bottom: 15px;
    text-align: center;
    font-family: Marker;
    font-size: 2.5vw;
    padding-top: 10px;
    color: #292929;
    cursor: pointer;
}

sticky-note:hover {
    border-top: 35px solid rgb(129, 129, 129);
    background-color: rgb(172, 172, 172);
    filter: drop-shadow(5px 5px rgb(32, 32, 32));
}

sticky-note.login {
    border-top: 40px solid rgb(97, 212, 166);
    background-color: rgb(197, 255, 221);
    color: rgb(20, 77, 17);
}

sticky-note.login:hover {
    border-top: 40px solid rgb(74, 190, 144);
    background-color: rgb(165, 243, 198);
}

sticky-note.account-creation {
    border-top: 40px solid rgb(105, 207, 240);
    background-color: rgb(175, 235, 255);
    color: rgb(24, 53, 98);
}

sticky-note.account-creation:hover {
    border-top: 40px solid rgb(86, 187, 221);
    background-color: rgb(149, 229, 255);
}

sticky-note#sticky-2 {
    margin: 5px 10px 15px 10px;
}

sticky-note.credits {
    border-top: 40px solid rgb(246, 148, 148);
    background-color: rgb(255, 202, 202);
    color: rgb(98, 24, 24);
}

sticky-note.credits:hover {
    border-top: 40px solid rgb(254, 122, 122);
    background-color: rgb(255, 172, 172);
}

sticky-note.about {
    border-top: 40px solid rgb(213, 228, 133);
    background-color: rgb(241, 252, 184);
    color: rgb(78, 75, 19);
}

sticky-note.about:hover {
    border-top: 40px solid rgb(191, 205, 108);
    background-color: rgb(225, 238, 162);
}

sticky-note#code-sticky {
    position: fixed;
    margin-left: 5px;
    top: calc(115px + 32.5vh + 6vw);
    left: calc(45vw + 40px)
}

/* well-list banner */

well-list-banner {
    display: flex;
    align-items: center;
    position: fixed;
    right: 35px;
    top: 30px;
    width: calc(55vw - 80px);
    height: fit-content;
    padding: 2.5vh 0;
    background: linear-gradient(120deg, #0c9ace 0%, #00c36b 100%);
    filter: drop-shadow(5px 5px #505050);
    border: 5px solid white;
}
well-list-banner #title {
    font-family: pixel;
    font-size: 6vw;
    color: white;
    width: calc(55vw - 90px);
    height: 6vw;
    text-align: center;
}

/* menu-paper */

menu-paper #content-container {
    position: absolute;
    margin: 20px;
    margin-top: 35px;
    z-index: 2;
    font-family: YoungSerif;
    z-index: 2;
    width: calc(45vw - 40px);
    height: 81vh;
}

menu-paper #content-container #title {
    color: #292929;
    font-size: 4vw;
    text-align: center;
}

/* menu-paper content */

menu-paper #content-container #lined-area {
    display: flex;
    flex-flow: column;
    width: calc(45vw - 80px);
    margin-left: 20px;
    margin-right: 20px;
    height: calc(100vh - 120px - 4vw);
    background-image: linear-gradient(0, #dbdbdb 5%, transparent 1%, transparent 74%);
    background-size: calc(45vw - 40px) 3vw;
    font-size: 1.5vw;
    line-height: 3vw;
    padding-top: 0.5vw;
}

menu-paper #content-container #lined-area #subtitle {
    margin-top: -0.5vw;
    margin-bottom: 0.5vw;
    font-size: 2vw;
}

menu-paper #content-container #lined-area .username-password-container {
    display: flex;
    justify-content: right;
    padding-right: 1vw;
}

menu-paper #content-container #lined-area .username-password-container #label {
    width: calc(11vw - 20px);
}

menu-paper #content-container #lined-area .username-password-container input {
    margin-top: -0.15vw;
    height: 2.25vw;
    width: calc(27vw - 20px);
    outline: 0 none;
    box-shadow: none;
    border: 0.125vw solid #292929;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0.6vw;
}

menu-paper #content-container #lined-area .username-password-container input:focus {
    border: 0.125vw solid #2e82ff;
}

menu-paper #content-container #lined-area .controls {
    display: flex;
    justify-content: space-between;

    width: calc(36vw - 60px);
    margin-left: calc(5vw + 20px);
}

menu-paper #content-container #lined-area .controls #create-account-button {
    color: #327281;
}

menu-paper #content-container #lined-area .controls #create-account-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

menu-paper #content-container #lined-area .controls #login-button {
    color: #005d2a;
}

menu-paper #content-container #lined-area .controls #login-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

menu-paper #content-container #message-container {
    color: rgb(98, 98, 98);
}

/* menu-paper background */

menu-paper {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(45vw + 20px);
    height: calc(100vh - 40px);
}

menu-paper #pin {
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    object-fit: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    left: calc(22.5vw - 15px);
}

menu-paper #pin.login {
    background-image: url(../images/login-pin.png);
}

menu-paper #pin.account-creation {
    background-image: url(../images/create-account-pin.png);
}

menu-paper #pin.credits {
    background-image: url(../images/credits-pin.png);
}

menu-paper #pin.about {
    background-image: url(../images/about-pin.png);
}


#paper-background {
    filter: drop-shadow(5px 5px #505050);
}

menu-paper #paper-background #paper-background-vertical {
    position: absolute;
    top: 10px;
    left: 15px;
    width: calc(45vw - 30px);
    height: calc(100vh - 75px);
    background-color: #fdfdfd;
    border-top: 5px solid #f1f1f1;
    border-bottom: 5px solid #e9e9e9;
    z-index: 0;
}

menu-paper #paper-background #paper-background-horizontal {
    position: absolute;
    top: 15px;
    left: 10px;
    width: calc(45vw - 30px);
    height: calc(100vh - 75px);
    background-color: #fdfdfd;
    border-left: 5px solid #f1f1f1;
    border-right: 5px solid #e9e9e9;
    z-index: 0;
}

/* pinboard-background */

pinboard-background #outline {
    position: fixed;
    background-color: transparent;
    border: 5px solid #272727;
    box-shadow:inset 0 0 0 5px #505050;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

pinboard-background .pinboard-corner {
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: #272727;
    z-index: 1;
}

pinboard-background #top-left-corner {
    border-bottom: solid 5px #505050;
    border-right: solid 5px #505050;
    top: 5px;
    left: 5px;
}

pinboard-background #top-right-corner {
    border-bottom: solid 5px #505050;
    border-left: solid 5px #505050;
    top: 5px;
    right: 5px;
}

pinboard-background #bottom-right-corner {
    border-top: solid 5px #505050;
    border-left: solid 5px #505050;
    bottom: 5px;
    right: 5px;
}

pinboard-background #bottom-left-corner {
    border-top: solid 5px #505050;
    border-right: solid 5px #505050;
    bottom: 5px;
    left: 5px;
}

@media only screen and (max-width: 1325px) {
    plant-sticker {
        display: none;
    }
}

@media only screen and (max-width: 1235px) {
    sticky-note {
        font-size: 3.25vw;
        width: 20vw;
        height: 18vh;
        min-height: 110px;
        margin-bottom: 35px;
    }

    sticky-note#sticky-3 {
        margin-left: -10px;
    }

    sticky-note#code-sticky {
        margin-top: 5px;
        position: static;
        top:  none;
        left: none;
    }
}

@media only screen and (max-width: 700px) {
    sticky-note {
        font-size: 4vw;
        width: 35vw;
        height: 18vh;
        min-height: 110px;
    }

    sticky-note#sticky-2 {
        margin: 0 0 15px 0;
    }

    sticky-note#code-sticky {
        display: none;
    }
}

@media only screen and (max-height: 755px) {
    plant-sticker {
        display: none;
    }
}

@media only screen and (max-height: 615px) {
    sticky-note#code-sticky {
        display: none;
    }
}