html, body {
    background: linear-gradient(40deg, #efc496 0%, #efb577 100%);
}

@font-face {
    font-family: pixel;
    src: url(./fonts/04B_03__.ttf);
}

@font-face {
    font-family: Marker;
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: Caveat;
    src: url(./fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(./fonts/YoungSerif-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}