textarea {
    margin-left: 0.75vw;
    width: calc(31.5vw - 25px);
    height: fit-content;
    font-family: YoungSerif;
    font-size: 1.35vw;
    resize: none;
    margin-top: -0.1vw;
}

task-section {
    position: fixed;
    top: 10px;
    left: 20px;
    padding-top: 10px;
    width: calc(43vw + 20px);
    height: calc(100vh - 20px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

task-section::-webkit-scrollbar-track {
    background: #dead78; 
}

/* Handle */
task-section::-webkit-scrollbar-thumb {
    background: #505050; 
}

/* Handle on hover */
task-section::-webkit-scrollbar-thumb:hover {
    background: #272727; 
}

task-paper {
    display: inline-block;
    position: relative;
    width: calc(40.5vw + 20px);
    height: fit-content;
    font-family: YoungSerif;
    font-size: 1.35vw;
}

task-paper#high-priority-task-paper {
    color: rgb(136, 0, 0);
}

task-paper#medium-priority-task-paper {
    color: rgb(0, 68, 216);
}

task-paper#low-priority-task-paper {
    color: rgb(17, 127, 21);
}

.task-paper-header {
    padding: 0.5vw -1px 0vw 0.5vw;
    display: flex;
    justify-content: space-between;
}

.task-paper-header .title-add-button-container {
    display: flex;
}

.content-container .lined-area {
    margin-left: calc(0.5vw + 5px);
    width: calc(42vw - 25px);
    background-image: linear-gradient(0, #dbdbdb 6%, transparent 1%, transparent 74%);
    background-size: calc(43vw - 15px) 2.2vw;
    font-size: 1.35vw;
    line-height: 2.25vw;
    padding-top: 0;
    padding-bottom: 1vw;
}

.task-container {
    color: #292929;
    display: flex;
    justify-content: space-between;
}

.task-container .task-description {
    display: flex;
}

.task-container .task-description .bullet {
    width: 1vw;
}

.task-container .task-description .text {
    width: calc(31vw - 25px);
    text-wrap: wrap;
}

.task-paper-header .add-task-button {
    text-align: center;
    color: #292929;
}

.task-paper-header .add-task-button:hover {
    color: rgb(0, 85, 21);
    text-decoration: underline;
    cursor: pointer;
}

.task-container .task-controls {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    height: 2.2vw;
}

.task-controls .edit-button {
    color: rgb(103, 103, 103);
}

.task-controls .edit-button:hover {
    color: rgb(73, 73, 73);
    text-decoration: underline;
    cursor: pointer;
}

.no-tasks-label {
    width: calc(43vw - 25px);
    text-align: center;
    color: rgb(103, 103, 103);
}

.title-add-button-container .title {
    margin-right: 0.75vw;
}

.task-container .task-controls input {
    margin: 0;
    margin-top: 0.25vw;
    width: 1.55vw;
    height: 1.55vw;
}

/* Background */

task-paper .paper-background {
    margin-top: 5px;
    filter: drop-shadow(5px 5px #505050);
    margin-bottom: 15px;
}

/* task-paper#low-priority-task-paper .paper-background {
    margin-bottom: 35px;
} */

task-paper .paper-background .paper-background-vertical {
    margin-left: 5px;
    width: calc(43vw - 15px);
    height: fit-content;
    background-color: #fdfdfd;
    border-top: 5px solid #f1f1f1;
    border-bottom: 5px solid #e9e9e9;
    z-index: 0;
}

task-paper .paper-background .paper-background-horizontal {
    margin-left: -5px;
    margin-top: 0;
    width: calc(43vw - 15px);
    height: fit-content;
    background-color: #fdfdfd;
    border-left: 5px solid #f1f1f1;
    border-right: 5px solid #e9e9e9;
    z-index: 0;
}